.back-button {
    background-color: transparent;
    border: none;
    color: white;
}

.back-button:hover {
    text-decoration: underline;
    color: white;
}

.none-decoration {
    text-decoration: none;
}