body {
    color: white;
    background-color: #0b2866;
}

body > header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-loja {
    margin: 20px;
}

header > menu {
    width: 100vw;
    margin-block-start: 0px;
    padding-left: 0px;
}

menu > nav {
    border-radius: 7px;
    margin-right: 10px;
}

.box-for-navbar {
    display: flex;
    justify-content: space-evenly;
}

.box-search-and-buttons {
    display: flex; 
    align-items: center; 
    flex: 0 1 80%;
}

.login-button {
    margin-top: 5px; 
    width: 100px;
}

.favorite-button {
    margin-top: 10px; 
    width: 120px;
}

.box-carrinho {
    margin: 0px 10px 0px 10px;
    background-color: green;
    padding-left: 4px;
    border-radius: 7px;
    margin-left: auto;
    margin-top: 5px;
}

.carrinho:hover {
    background-color: rgb(1, 92, 1);
}

.box-icon-img-carrinho {
    width: 130px; 
    height: 50px; 
    display: flex;
}

.box-icon-carrinho {
    margin: 8px 8px 0px 0px;
}

.icon-carrinho {
    position: static;
}

.box-text-carrinho {
    display: flex; 
    flex-flow: column; 
    justify-content: center;
    margin-top: -5px;
}

.text-carrinho {
    height: 20px; 
    color: white;
}

.box-search {
    flex: 1 1 auto;
}

.search {
    flex: 1 1 auto; 
    max-width: 70%;
}

.box-contact-text {
    width: 150px;
}

#carouselExampleControls {
    width: 100%;
    margin: 0 auto;
    display: table;
}

#carouselExampleControls img {
    width: 60%;
    height: 300px;
}

@media screen and (max-width: 991px) {
    .carrinho-box {
        margin: 0px 10px 0px 10px;
    }
    .icon-carrinho {
        margin-left: 2px;
    }

    .box-search-and-buttons {
        flex-flow: column;
    }

    .box-search {
        width: 100%;
    }

    .box-for-navbar {
        flex-flow: column;
        align-items: normal;
    }
}

@media screen and (max-width: 800px) {
    img#banner-destaques {
        height: 250px; 
    }
}